#head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(78, 77, 77, 0.556);
}
#head > img {
  width: 10%;
  margin-left: 3%;
  height: 80%;
  cursor: pointer;
}
#head > ul {
  list-style-type: none;
  display: flex;
  margin-right: 5%;
}
#head > ul > li {
  margin: 2em;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
}
#body {
  margin-top: 1.5%;
}
#search {
  display: flex;
  justify-content: end;
  margin-right: 2%;
}
#find {
  border-radius: 15px;
  margin-right: 4px;
  margin-left: 4px;
  width: 30%;
  height: 35px;
}
#btn {
  margin-top: 2px;
  border-radius: 15px;
  height: 25px;
  cursor: pointer;
}
#catalog {
  /* border: 1px solid black; */
  margin: 10px;
  display: flex;
}
#card {
  border: 1px solid rgba(133, 130, 130, 0.31);
  box-shadow: 4px 2px #acacac9c;
  margin: 4px;
  width: 20%;
  cursor: pointer;
}
#card:hover {
  border: 1px solid rgba(30, 29, 29, 0.486);
  box-shadow: 4px 5px #7978789c;
}
#card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#data {
  margin: 6px;
}
#data > h3 {
  margin: 1px;
}
#data > h5 {
  margin-top: 4px;
  margin-left: 1px;
}
